* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
  transition: background-color 0.5s ease;
}

#card-list {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
}

.slides {
  position: relative;
  background-color: #000;
  color: #fff;
  width: 32%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  transform: scale(0.8);
}

#end-msg {
  z-index: -10;
  position: fixed;
  top: -2;
}

#clicked {
  box-shadow: 10px 10px 20px darkgrey;
  transform: scale(.93);
  transition: all 0.2s ease;
}

pre, code, .tag {
  font-family: "Roboto Mono", monospace;
  border-radius: 3px;
  background-color: #242424;
  color: #fff;
}

pre {
  overflow: auto;
  max-height: 150px;
  margin: 5px;
  padding: 5px;
  position: relative;
}

pre code {
  margin: 0;
  padding: 0;
}

code {
  padding: 3px;
}

.tag {
  margin: 2px;
  padding: 5px;
}

.copy {
  position: absolute;
  cursor: pointer;
  bottom: 2px;
  right: 2px;
  padding: 2px;
  border: 1px solid #fff;
}

.cards {
  padding: 15px;
  background-color: #fff;
  color: #000;
  width: 100%;
  height: 100%;
  z-index: 0;
  /*transition: all 0.5s cubic-bezier(1,-1.06,0,1);*/
  transition: all 0.5s cubic-bezier(.23,1.11,.56,.97);
  /*transition: all 0.5s ease;*/
}

.cards img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p, pre {
  margin: 0 0 10px 0;
  line-height: 1.5;
}


.tags {
  font-family: "Roboto Mono";
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 20px;
}

.tag {
  display: inline-block;
}

.button {
  position: fixed;
  display: none;
  bottom: 8px;
  left: 8px;
}

.button button {
  background-color: #51888f;
  color: white;
  padding: 5px;
  border: none;
}