@media (max-width: 780px) {
  #card-list {
    width: 100%;
    margin: 0;
  }

  .slides {
    width: 32%;
    transform: scale(0.85);
  }

  .button {
    left: 8px;
  }
}

@media (max-width: 540px) {
  #card-list, .slides {
    width: 100%;
    margin: 0;
  }

  .button {
    left: 8px;
  }
}