@media (max-width: 840px) {
  #card-list {
    width: 100%;
    margin: 0;
  }

  .slides {
    width: 48%;
    transform: scale(0.82);
  }

  .button {
    left: 8px;
  }
}

@media (max-width: 540px) {
  #card-list, .slides {
    width: 100%;
    margin: 0;
  }

  .button {
    left: 8px;
  }
}

@media all and (display-mode: fullscreen) {
  h1, h2, h3, h4, h5, h6, p, pre, img {
    margin: 20px;
  }

  .button {
    left: 8px;
    z-index: 100;
    display: inline-block;
  }

  .cards img {
    width: 50%;
  }
}